* {
  box-sizing: border-box;
}

main {
  padding: 8px;
  max-width: 600px;
  margin: 2.5vh auto 0;

  font-family: var(--fonts-sans);
}

p {
  margin: 0 auto 32px;
}

pre {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

pre code {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 16px;
  font-family: var(--fonts-mono);
}

pre:after,
pre:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 16px;
  z-index: 1;
}

pre:after {
  /* blur for right edge */
  right: 0;
  background: linear-gradient(to right, transparent, #fafafa);
}

pre:before {
  /* blur for left edge */
  left: 0;
  background: linear-gradient(to left, transparent, #fafafa);
}

select {
  font-family: var(--fonts-sans);
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fafafa;
}

.code__lang-tag {
  position: absolute;
  right: 16px;
  top: 0;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

nav {
  display: flex;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fonts-sans);
  align-items: flex-end;

  margin: 1.33rem 0;
  font-variant: small-caps;
}

nav h1 {
  all: unset;
}

nav a {
  text-decoration: none;
}

a {
  color: #000000aa;
}

a:hover {
  color: black;
}

a::first-letter {
  font-size: 1.25em;
}

a[data-is-active="true"] {
  color: #005cc5;
  font-size: 22px;
}
