@use "sass:meta";

* {
  box-sizing: border-box;
}

:root {
  --grey100: white;
  --grey200: #fafafa;
  --grey300: #f1f1f1;
  --grey400: #e5e5e5;
  --grey500: #d9d9d9;
  --grey600: #8c8c8c;
  --grey700: #595959;
  --grey800: #262626;
  --grey900: #000000;

  --blue: #005cc5;
}

:not([data-theme="dark"]) {
  @include meta.load-css("highlight.js/styles/github");
}

[data-theme="dark"] {
  --grey100: #1f1f1f;
  --grey200: #2f2f2f;
  --grey300: #3f3f3f;
  --grey400: #4f4f4f;
  --grey500: #5f5f5f;
  --grey600: #6f6f6f;
  --grey700: #7f7f7f;
  --grey800: #8f8f8f;
  --grey900: #9f9f9f;

  --blue: #79c0ff;

  @include meta.load-css("highlight.js/styles/github-dark");
}

body {
  background: var(--grey100);
}

main {
  padding: 8px;
  max-width: 600px;
  margin: 2.5vh auto 0;

  font-family: var(--fonts-sans);
}

p {
  margin: 0 auto 32px;
  line-height: 1.6;
}

code {
  font-family: var(--fonts-mono);
  background: var(--grey300);
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: var(--grey200);
  border: 1px solid var(--grey400);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

pre code {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 16px;
  font-family: var(--fonts-mono);
  background: transparent;
}

pre:after,
pre:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 16px;
  z-index: 1;
}

pre:after {
  /* blur for right edge */
  right: 0;
  background: linear-gradient(to right, transparent, var(--grey200));
}

pre:before {
  /* blur for left edge */
  left: 0;
  background: linear-gradient(to left, transparent, var(--grey200));
}

select {
  font-family: var(--fonts-sans);
  font-size: 1rem;
  padding: 8px;
  border: 1px solid var(--grey400);
  border-radius: 4px;
  background-color: var(--grey200);
}

.code__lang-tag {
  position: absolute;
  right: 16px;
  top: 0;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

header {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--fonts-sans);

  margin: 1.33rem 0 0;
  font-variant: small-caps;

  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    gap: 12px;
  }

  button {
    all: unset;
    font-size: 20px;
    padding: 0 8px;
    background: var(--grey200);
    margin-bottom: -6px;

    &:hover {
      background: var(--grey300);
    }

    &:focus-visible {
      outline: 2px solid var(--blue);
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    button {
      padding: 4px 8px;
      position: fixed;
      margin: 1rem;
      bottom: 0;
      right: 0;
    }
  }

  + hr {
    margin-bottom: 1.33rem;
  }

  span {
    margin-top: 0.375em;
  }

  h1 {
    all: unset;
  }

  a {
    text-decoration: none;

    &::first-letter {
      font-size: 1.25em;
    }
  }
}

a {
  color: var(--grey800);

  &:hover {
    color: var(--grey900);
  }
}

a[data-is-active="true"] {
  color: var(--blue);
}

.code-with-tabs__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  pre {
    margin: 0;
    border-top-right-radius: 0;
  }

  [role="tablist"] {
    display: flex;
    justify-content: flex-end;
    z-index: 1;

    [role="tab"] {
      all: unset;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 2px 14px 4px;
      font-size: 16px;
      background-color: var(--grey100);
      border: 1px solid var(--grey400);

      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      border-bottom-color: var(--grey400);
      margin-bottom: -1px;

      &:focus-visible {
        outline: 2px solid var(--blue);
      }

      &:not(:last-child) {
        margin-right: -3px;
      }

      margin-left: -3px;

      &[aria-selected="true"] {
        background-color: var(--grey200);
        border-bottom-color: var(--grey200);
        z-index: 1;
      }
    }
  }
}

#menu {
  position: fixed;
  top: 135px;
  left: calc(50vw - 300px - 200px);

  @media screen and (max-width: 1000px) {
    visibility: hidden;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 16px;
    margin: 0.375em 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: var(--fonts-sans);
    font-weight: 500;

    li {
      margin: 4px 0 0;
      padding: 0;

      a {
        color: var(--grey700);
        text-decoration: none;
        display: block;

        &:hover {
          color: var(--grey900);
        }

        &[data-is-active="true"] {
          background: var(--grey300);
        }
      }
    }
  }
}

.heading[data-anchor-id] {
  position: relative;
  cursor: pointer;

  &:hover {
    &::before {
      content: "#";
      position: absolute;
      left: -2ch;
      width: 2ch;
    }
  }
}

.note {
  border: 1px solid var(--grey400);
  border-radius: 4px;
  background-color: var(--grey200);
  border-left: 4px solid var(--blue);

  padding: 16px;
  margin-bottom: 1.33rem;

  :last-child {
    margin-bottom: 0;
  }

  :first-child {
    margin-top: 0;
  }

  h2 {
    margin: 12px 0;
    font-size: 20px;
  }

  p {
    margin: 8px 0;
    color: var(--grey700);
  }
}
